.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.login .image {
  position: absolute;
  width: 976px;
  height: 1080px;
  top: 0;
  left: 944px;
  object-fit: cover;
}

.login .unnamed {
  position: absolute;
  width: 72px;
  height: 74px;
  top: 40px;
  left: 54px;
}

.login .adobecolor-my-color {
  position: absolute;
  width: 1600px;
  height: 954px;
  top: 2829px;
  left: -5237px;
  object-fit: cover;
}

.login .login-form {
  display: flex;
  flex-direction: column;
  width: 533px;
  height: 867px;
  align-items: flex-start;
  gap: 48px;
  position: absolute;
  top: 166px;
  left: 236px;
}

.login .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .text-wrapper {
  position: relative;
  width: 258px;
  margin-top: -1.00px;
  font-family: "Abel-Regular", Helvetica;
  font-weight: 400;
  color: var(--primary-text);
  font-size: 36px;
  letter-spacing: 0.36px;
  line-height: 36px;
}

.login .p {
  position: relative;
  align-self: stretch;
  font-family: "ABeeZee-Regular", Helvetica;
  font-weight: 400;
  color: var(--secondary-text);
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 32.0px;
}

.login .form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.login .label {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--primary-text);
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.login .overlap-group-wrapper {
  height: 48px;
  margin-right: -2.00px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.login .overlap-group {
  position: relative;
  width: 535px;
  height: 50px;
  top: -1px;
  left: -1px;
  background-color: #f6faff;
  border-radius: 12px;
  border: 1px solid;
  border-color: #d3d7e3;
}

.login .placeholder {
  position: absolute;
  height: 16px;
  top: 16px;
  left: 22px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #8796ad;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.login .label-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--primary-text);
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
}

.login .placeholder-2 {
  position: absolute;
  height: 16px;
  top: 16px;
  left: 22px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #8796ad;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
}

.login .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--link);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
}

.login .main-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #162d3a;
  border-radius: 12px;
}

.login .sign-in {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.20px;
  line-height: 20px;
  white-space: nowrap;
}

.login .social-sign-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .or {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .line {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
}

.login .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #294956;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
}

.login .social-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px 9px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f3f9fa;
  border-radius: 12px;
}

.login .img {
  position: relative;
  width: 28px;
  height: 28px;
}

.login .sign-in-with {
  position: relative;
  width: 159px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--secondary-text);
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 16px;
}

.login .sign-in-with-2 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--secondary-text);
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 16px;
  white-space: nowrap;
}

.login .voc-n-o-possui-conta {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.18px;
  line-height: 28.8px;
}

.login .span {
  color: #313957;
  letter-spacing: 0.03px;
}

.login .text-wrapper-4 {
  color: #3454cb;
  letter-spacing: 0.03px;
}
