:root {
  --wwwfigmacomblack: rgba(0, 0, 0, 1);
  --primary-text: rgba(12, 20, 33, 1);
  --secondary-text: rgba(49, 57, 87, 1);
  --www-figma-com-inter-italic-font-family: "Inter", Helvetica;
  --www-figma-com-inter-italic-font-weight: 400;
  --www-figma-com-inter-italic-font-size: 11px;
  --www-figma-com-inter-italic-letter-spacing: 0px;
  --www-figma-com-inter-italic-line-height: normal;
  --www-figma-com-inter-italic-font-style: italic;
  --www-figma-com-inter-medium-font-family: "Inter", Helvetica;
  --www-figma-com-inter-medium-font-weight: 500;
  --www-figma-com-inter-medium-font-size: 11px;
  --www-figma-com-inter-medium-letter-spacing: 0px;
  --www-figma-com-inter-medium-line-height: normal;
  --www-figma-com-inter-medium-font-style: normal;
  --www-figma-com-inter-medium-italic-font-family: "Inter", Helvetica;
  --www-figma-com-inter-medium-italic-font-weight: 500;
  --www-figma-com-inter-medium-italic-font-size: 11px;
  --www-figma-com-inter-medium-italic-letter-spacing: 0px;
  --www-figma-com-inter-medium-italic-line-height: normal;
  --www-figma-com-inter-medium-italic-font-style: italic;
  --www-figma-com-inter-regular-font-family: "Inter", Helvetica;
  --www-figma-com-inter-regular-font-weight: 400;
  --www-figma-com-inter-regular-font-size: 11px;
  --www-figma-com-inter-regular-letter-spacing: 0px;
  --www-figma-com-inter-regular-line-height: normal;
  --www-figma-com-inter-regular-font-style: normal;
  --www-figma-com-inter-regular-upper-font-family: "Inter", Helvetica;
  --www-figma-com-inter-regular-upper-font-weight: 400;
  --www-figma-com-inter-regular-upper-font-size: 12px;
  --www-figma-com-inter-regular-upper-letter-spacing: 0px;
  --www-figma-com-inter-regular-upper-line-height: 24px;
  --www-figma-com-inter-regular-upper-font-style: normal;
  --www-figma-com-inter-semi-bold-font-family: "Inter", Helvetica;
  --www-figma-com-inter-semi-bold-font-weight: 600;
  --www-figma-com-inter-semi-bold-font-size: 12.8984375px;
  --www-figma-com-inter-semi-bold-letter-spacing: -0.03200000151991844px;
  --www-figma-com-inter-semi-bold-line-height: 22px;
  --www-figma-com-inter-semi-bold-font-style: normal;
  --www-figma-com-inter-semi-bold-italic-font-family: "Inter", Helvetica;
  --www-figma-com-inter-semi-bold-italic-font-weight: 600;
  --www-figma-com-inter-semi-bold-italic-font-size: 11px;
  --www-figma-com-inter-semi-bold-italic-letter-spacing: 0px;
  --www-figma-com-inter-semi-bold-italic-line-height: normal;
  --www-figma-com-inter-semi-bold-italic-font-style: italic;
  --www-figma-com-semantic-button-font-family: "Inter", Helvetica;
  --www-figma-com-semantic-button-font-weight: 500;
  --www-figma-com-semantic-button-font-size: 11px;
  --www-figma-com-semantic-button-letter-spacing: 0.054999999701976776px;
  --www-figma-com-semantic-button-line-height: 16px;
  --www-figma-com-semantic-button-font-style: normal;
}
